{% extends "base.html" %}

{% block content %}
<div class="aurora-bg"></div>
<div class="auth-container">
    <div class="auth-card">
        <div class="logo">
            Game<span>#</span>Clips
        </div>
        <form method="POST">
            <div class="mb-4">
                <input type="text" class="form-control" id="username" name="username" placeholder="Usuário" required>
            </div>
            <div class="mb-4">
                <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
            </div>
            <button type="submit" class="btn btn-auth">ENTRAR</button>
            <div class="auth-links">
                <p class="text-white">Não tem uma conta? <a href="{{ url_for('register') }}">Registre-se aqui</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
